/* body{
    overflow-x: hidden;
}

.slide-up{
    transform: translateY(50%);
}
.left-side{
    transform: translateX(-50%);
}
.right-side{
    transform: translateX(50%);
}
.left-side,
.right-side,
.slide-up{
    opacity: 0;
    transition: all 300ms ease-in-out;
} */
.navigation.appear{
    box-shadow: 5px 5px 2px #eeee;
    background-color: #fff;
    z-index: 99999999;
}

.caghd{
    height: 37em;
    min-width: fit-content;
    min-height: fit-content;
}
#bounce-container{
    transition: all .5s ease-in-out;
}
.nav.smallscreen{
    background-color: #fff;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1%;
    transform: translateX(3%);
    font-size: 1.5em;
}
